<!-- <app-profile></app-profile> -->
<!-- <app-profile-card></app-profile-card> -->
 <!-- <app-rough></app-rough> -->
  <!-- <app-table></app-table> -->
<div class="app-container">

  <!-- Top nav hidden on login page -->
  <app-top-nav *ngIf="!isLoginPage()"></app-top-nav>

  <div class="body-container">

    <!-- Side nav hidden on login page -->
    <app-nav *ngIf="!isLoginPage()"></app-nav>

    <div class="main-content" [class.full-width]="isLoginPage()">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>