
  <!--  <h1>Counter</h1>
    <div style="text-align: center;">
        <h2 class="count">{{count}}</h2>
        <div>
            <button class="btn bg-red" (click) = "handleDecrement()">Decrement</button>
            <button class="btn bg-black" (click) = "handleReset ()">Reset</button>
            <button class="btn bg-green" (click) = "handleIncrement()" (mouseenter)="handleEnter($event)">Increment</button>
        </div>
    </div>
    -->
<!-- <div class="main-area"> -->
    <!-- <app-nav></app-nav>  uncomment when done with examples-->
         
  <!-- </div>
    
<button (click) = "onClick()">Click</button>
<br>
{{a}} -->
<!-- <input type="text" (input) = "onInput($event)"> -->
<!-- <input type="text" [(ngModel)] = "text">
<br>
<h3>{{text}}</h3>
<button (click) = "decCount()" [disabled] = "(count==0)">-</button> Property binding
{{count}}
<button (click) = "incCount()" [disabled] = "(count==10)">+</button> -->
<!-- <div class="box">
  <button class="b1 btn" (click) = "pressedButton(1)"><strong>Press 1</strong></button>
  <button class="b2 btn" (click) = "pressedButton(2)"><strong>Press 2</strong></button>
</div>
<p class="para1" *ngIf = "button == 1">You pressed button 1</p>
<p class="para2" *ngIf = "button == 2">You pressed button 2</p>
<p>{{date | date}}</p>
<p>{{date | date : 'fullDate' | uppercase}}</p>
<p>{{date | date : 'hh:mm:ss'}}</p>
<p>{{curr | currency : 'INR'}}</p>
<p>{{value_expression | percent : '2.2-2'}}</p> -->
<h2>Percentage: {{ obtMrk | percentage : totMrk : 2}}%</h2>